* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

/* LAYOUT */

.row {    
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.reverse {
    flex-direction: row-reverse;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

/* Specifiche header */

header {
    background-color: #265ee9;
    padding: 20px 0;
    color: white;
}

nav {
    justify-content: space-between; 
    padding: 10px;
    align-items: center;
}

nav .col-60 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
}

.col-60 a {
    color: #FFFFFF;
    text-decoration: none;
}

nav div {
    display: flex;
}

/* Design bottoni */

.button-small {
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.button {
    padding: 20px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: rgb(34, 34, 34);
    color: white;
}

.lightblue {
    background-color: rgb(133, 148, 233);
    color: white;
}

/* Sezione intro */

.section-intro {
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

.container-intro {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 400px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container-intro .row {
    margin: 20px 0;
}

.container-intro h1 {
    font-size: 60px;
}

.intro-text {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.container-intro .row a {
    margin: 0 15px;
}

/* Sezioni di presentazione */

.container-pres {
    max-width: 1200px;
    margin: 50px auto;
    min-height: 400px;
    color: rgb(34, 34, 34);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main h2 {
    font-size: 45px;
    margin-bottom: 25px;
}

.container-pres .col-40 {
    padding: 0 5%;
}

.container-pres p {
    font-size: 18px;
    line-height: 25px;
}

.section-gray {
    background-color: #cccccc;
}

.wave-division {
    background-image: url(./img/wave.svg);
    background-size: contain;
    width: auto;
    height: 200px;
    opacity: 20%;
}

.wave-inverted {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transform: rotate(180deg);
}

main section {
    padding: 50px;
}

/* Ultimo blocco main CTA */

.container-cta {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.container-cta div {    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.sparkle {
    padding: 10px 75px;
    font-size: 20px;
    background-image: url(./img/stars.svg);
    background-size: auto;
    background-repeat: no-repeat;
}

/* Specifiche footer */

footer {
    background-color: #23272a;
}

footer .foot-info {
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid #7289da;
}

footer .col-33 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
}

footer h3 {
    color: #7289da;
    font-size: 40px;
}

.language .row {
    align-content: center;
}

.language img {
    height: 25px;
    margin-right: 10px;
}

.language select {
    background-color: #23272a;
    border: 0;
    color: white;
}

footer .row-footer-second {
    margin-top: 40px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
} 

/* Impostazioni icone social con fonte google icon */

.fa {
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Impostazioni colonne */

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
    justify-content: center;
}

.col-33 {
    width: calc(100% / 3);
}

.col-16 {
    width: calc(100% / 6);
}





/* DEBUG */

.debug .button-footer {
    background-color: darkviolet;
    padding: 5px;
    border: 1px solid black;
}